@import url('https://fonts.googleapis.com/css?family=Nunito:regular,semi-bold,bold,extra-bold&subset=latin,latin-ext');

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Nunito';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito';
  margin: 0;
}

h1 {
  font-weight: 700;
  /*bold*/
  font-size: 3em;
  color: #FFFFFF;
}

h2 {
  font-weight: 600;
  /*semi-bold*/
  font-size: 1.5em;
  color: #E0E0E0;
  line-height: 0;
  text-align: center;
  padding: 0;
}

h3 {
  font-weight: 600;
  font-size: 2em;
  color: #000000;
}

h4 {
  font-weight: 600;
  font-size: 1.5em;
  color: #848484;
}